<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352364144955-87snoj8im1hqvghvp58rfmmmprvr2rns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352364144955-87snoj8im1hqvghvp58rfmmmprvr2rns</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>352364144955-83je5lti98nckk1v5o1tpnbov8k1ub8j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBaM_tyvgyE34xKuCj-g-V_5ClxkkeQKXg</string>
	<key>GCM_SENDER_ID</key>
	<string>352364144955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.medotrade.medlike</string>
	<key>PROJECT_ID</key>
	<string>medlike-medotrade</string>
	<key>STORAGE_BUCKET</key>
	<string>medlike-medotrade.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352364144955:ios:66bb78c9e80fd82acf2f1e</string>
	<key>DATABASE_URL</key>
	<string>https://medlike-medotrade.firebaseio.com</string>
</dict>
</plist>